body {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    background:black;
    color:white;
}

h1,h2,h3 {
	font-weight: normal;
}

#donate-link{
	color:black;
	background:white;
	font-size:35px;
}

#donate-link:hover{
	text-decoration: none;
}

#donate-img {
	padding-right:10px;
	padding-left:10px;
}

#container {
	width: 95%;
	height:95%;

	margin:0 auto;
}
#status {
	float:left;
	width:100%;
}

#word-container{
	margin-left:auto;
	margin-right:auto;
	text-align: center;

	width:100%;
	float:left;
	padding-top:17%;
	padding-bottom:17%;
	font-size:2.5em;
}

h1 {
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:auto;
	margin-bottom:auto;
	width:auto;

	/*height: 140px;
	width:470px;*/
}

#wpm {
	float:left;
	width:80px;
}
#wpm-buttons button{

	float:left;
	width:30px;
	margin-left:5px;
	font-size:14px;
}
#controls{
	clear:both;
}
#controls button{
	font-size:2em;
	float:left;

}