body {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
}

#container {
	width:470px;
	height: 270px;
	margin:auto;
	margin-top:auto;
}

#word {
	padding: 80px 10px 80px 10px;
	text-align: center;
	
}

.large{
	font-size:4em;
}