body {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    background:black;
    color:white;
}

h1,h2,h3 {
	font-weight: normal;
}

#donate-link{
	color:black;
	background:white;
	font-size:35px;
}

#donate-link:hover{
	text-decoration: none;
}

#donate-img {
	padding-right:10px;
	padding-left:10px;
}

#container {
	width:470px;
	height: 270px;
	margin:auto;
	margin-top:auto;
}
#status {
	float:left;
	width:470px;
}
#word {
	float:left;
	text-align: center;
	padding-top:70px;
	height: 140px;
	width:470px;
}

.large{
	font-size:4em;
}
#wpm {
	float:left;
	width:80px;
}
#wpm-buttons button{
	float:left;
	width:30px;
	margin-left:5px;
	font-size:14px;
}

#controls button{
	font-size:2em;

}