body {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    background:black;
    color:white;
}

h1,h2,h3 {
	font-weight: normal;
}

#donate-link{
	color:black;
	background:white;
	font-size:35px;
}

#donate-link:hover{
	text-decoration: none;
}

#donate-img {
	padding-right:10px;
	padding-left:10px;
}

.container {
	width: 95%;
	height:95%;
	margin:0 auto;
}
#status {
	float:left;
	width:100%;
}

header{

}

h1 {
	float:left;
	text-align: center;
	display:block;
	margin-top:auto;
	margin-bottom:auto;
	width:100%;
	padding-top:15%;
	padding-bottom:15%;
	/*height: 140px;
	width:470px;*/
}

#wpm {
	float:left;
	width:80px;
}
#wpm-buttons button{
	float:left;
	width:30px;
	margin-left:5px;
	font-size:14px;
}

#controls button{
	font-size:2em;
	float:left;
}