body {
	font-family: Baskerville,
			 Hoefler Text,
             Georgia,
             "Times New Roman",
             Times,
             serif;
    background:white;
    color:black;
}

h1,h2,h3 {
	font-weight: normal;
}

#invert-colors {
	float:right;
}

#donate-link{
	color:black;
	background:white;
	font-size:35px;
}

#small-donate-link {
	color:white;
	background:black;
	font-size:12px;
}
#donate {
	margin-top:15px;
	float:right;
}
#small-donate-link:hover {
	text-decoration: none;
}

#donate-text {
	font-size:12px;
}

#donate-link:hover{
	text-decoration: none;
}

#donate-img {
	padding-right:10px;
	padding-left:10px;
}

#container {
	width: 95%;
	height:95%;

	margin:0 auto;
}

#popup-container {
	width:400px;
	height:250px;
}

#status {
	float:left;
	width:100%;
}

#word-container{
	margin-left:auto;
	margin-right:auto;
	text-align: center;

	width:100%;
	float:left;
	padding-top:17%;
	padding-bottom:17%;
	font-size:40px;
}

h1 {
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:auto;
	margin-bottom:auto;
	width:auto;
}

.status-div {
	float:left;
	width:auto;

}

.status-buttons {
	float:left;
	margin-right:20px;
}

.status-buttons button{
	float:left;
	width:30px;
	margin-left:5px;
	font-size:14px;
}


#controls{
	clear:both;
}
#controls button{
	font-size:2em;
	float:left;

}